bin/Debug/dnx451/TS_Code.dll
bin/Debug/dnx451/TS_Code.pdb
bin/Debug/dnxcore50/TS_Code.dll
bin/Debug/dnxcore50/TS_Code.pdb
bin/Debug/dnxcore50/TS_Code.xml
bin/Debug/dnx451/TS_Code.xml
project.lock.json